
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
    ////////////////////////*/


/* --------------- 1. Global Styles ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding :0;
  box-sizing: border-box;
}


/* --------------- 2. Typography ----------------------- */
body {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

{}


/* --------------- 3.1 Reusables ----------------------- */
:root {
  --Rood: #dd3038;
  --Oranje: #e7613a;
  --LichtOranje: #FDF4F2;
  --zwart: #292929; /*voor standaard tekst*/
  --Wit: #FFFFFF;
}


